*{
    margin: 0;
    padding: 0;
}
html,body{
    width:100%;
    height:100%;
    background-color: #F1F1F1;
    background-size: cover;
    
}
#historyP{
    width: 5%;
    height:100%;
    font-size: 300%;
    color: #D8932C;
    /* background-color: #F6F6F6; */
    text-align: center;
    /* display:inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#box{
    width:95%;
    height:100%;
    /* background-color: rgb(49, 177, 228); */
    box-sizing: border-box;
    padding:10px;
    position: absolute;
    left:5%;
    overflow: hidden;
}
#box>div{
    width: 200px;
    height: 250px;
    /* background-color: lightcyan; */
    border-radius: 20px;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    position: relative;
}
#box .history #historyBook{
    width:100%;
    height:90%;
    border-radius: 20px;
    background-color: lightpink;
}
#box .history>p{
    width: 100%;
    height: 10%;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
#box .history>p:hover{
    color: #D8932C;
}
#paging{
    width: 100%;
    height:10%;
    /* background-color: lightseagreen; */
    text-align: center;
    position: absolute;
    bottom: 0%;
}
#paging #PageNumber{
    width:100%;
    height: 100%;
    /* background-color: mediumorchid; */
    display: flex;
    justify-content: center;
}
#paging #PageNumber .PageNumberLi{
    list-style: none;
    width: 3%;
    height:40%;
    background-color: white;
    border: 1px solid black;
    float: left;
    cursor: pointer;
}
#paging #PageNumber .cur{
    background-color: #D56A36;
}