* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f1f1f1;
  width: 100vw;
  overflow-x: hidden;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main {
  min-width: 100vw;
  min-height: 100vh;
}

.top {
  width: 100%;
  height: 400px;
  /* outline: 1px solid; */
}
.mohu {
  width: 100%;
  /* height: 320px; */
  filter: blur(5px);
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  height: 429px;
}

.nav {
  display: flex;
  justify-content: space-between;
  /* background-color: #1a19184a; */
  /* position: fixed; */
  box-sizing: border-box;
  width: 100%;
  color: white;
  padding: 0px 50px;
  z-index: 5;
}
.top_left img {
  width: 120px;
  height: 66px;
}
.search input {
  width: 164px;
  height: 26px;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 2px solid white;
  color: white;
  font-size: 16px;
  display: none;
}
.search input::placeholder {
  color: white;
}
.sear_container {
  position: absolute;
  top: 100%;
  right: 100%;
  width: 166px;
  z-index: 6;
  background: #333131cf;
  color: #dec6c6;
  border-radius: 5px;
}
.sear_container ul {
  width: 100%;
  max-height: 400px;
  overflow: scroll;
}
.sear_container ul::-webkit-scrollbar {
  display: none;
}
.sear_container ul li {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #80808059;
}

.top_rigth {
  display: flex;
  align-items: center;
  position: relative;
}
.login_box {
  display: flex;
}
.login_box label {
  position: relative;
}
.top_nav {
  margin-right: 28px;
}
.search {
  display: flex;
  align-items: center;
}
.search i {
  margin-right: 10px;
}
.login_btn {
  cursor: pointer;
}
.user {
  display: none;
  align-items: center;
}
.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user p {
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  max-width: 132px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.person_box {
  position: relative;
  bottom: 0;
}
.person_box ul {
  position: absolute;
  /* min-width: 140px; */
  max-width: 0;
  max-height: 0;
  transition: 0.6s;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  background-color: rgb(255, 255, 255);
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
}
.person_box:hover ul {
  min-width: 140px;
  max-height: 400px;
}
.person_box ul li {
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.person_box ul li:hover {
  background-color: rgba(128, 128, 128, 0.404);
}
.top_nav span {
  padding: 15px 5px;
  cursor: pointer;
}
.recommend {
  width: 60%;
  margin: auto;
  /* padding-top: 70px; */
}
.fenlei {
  position: relative;
}
.classification_hidden {
  list-style-type: none;
  top: 60px;
  left: -78px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  width: 200px;
  max-height: 0;
  /* height: 100px; */
  transition: 0.6s;
  position: absolute;
  overflow: hidden;
  z-index: 4;
  /* display: none; */
}
.classification_hidden li {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 7px;
  transition: 0.3s;
}
.classification_hidden li:hover {
  transform: scale(1.2);
}
.classification_display {
  max-height: 500px;
}

.middle_top {
  box-sizing: border-box;
  padding: 20px;
  width: 100vw;
  /* height: 300px; */
  position: relative;
}
.box_shadown {
  height: 100%;
  width: 19px;
  position: absolute;
  right: -20px;
  box-shadow: 0 0 30px 83px #ffffff96;
  z-index: 2;
}
.middle_top h2 {
  line-height: 60px;
  color: #22538a;
}
.middle_top > span {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #22538a;
  display: inline-block;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  line-height: 40px;
  z-index: 3;
}
.go_right {
  right: 20px;
}
.go_left.go_left {
  display: none;
  left: 20px;
}
.book_img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}
.book_list {
  display: flex;
  /* width: 100vw;
    overflow: hidden; */
  transition: 0.3s;
}
.book_list li {
  width: 200px;
  /* outline: 1px solid; */
  position: relative;
  text-align: center;
  padding: 0 20px;
}
.book_list li > p {
  font-size: 12px;
  width: 150px;
  margin: auto;
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /*设置p元素最大4行，父元素需填写宽度才明显*/
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-indent: 2em;
}
.book_list li h3 {
  font-size: 14px;
  margin-top: 6px;
}
.rank {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 60%;
}
.middle_bottom {
  display: flex;
  /* width: 99%;
    height: 600px; */
  /* outline: 1px solid; */
  justify-content: space-between;
  padding: 0 33px 33px 33px;
  box-sizing: border-box;
}
.middle_bottom_left {
  min-width: 350px;
  height: 600px;
  /* outline: 1px solid; */
  padding: 10px;
}
.middle_bottom_rigth {
  height: 600px;
  width: 800px;
  /* outline: 1px solid; */
  flex: 1;
  margin-left: 20px;
  padding: 10px;
}
.middle_classification {
  height: 70%;
  width: 100%;
  background: rgb(246, 246, 246);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2),
    0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04),
    0 10px 20px -10px rgba(0, 0, 0, 0.04);
}
.middle_login_box {
  width: 100%;
  margin-top: 5%;
  height: 27%;
  background: rgb(246, 246, 246);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2),
    0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04),
    0 10px 20px -10px rgba(0, 0, 0, 0.04);
}
.recommend2_container ul li:nth-of-type(4n) {
  border-right: none;
}
.recommend2_container ul li:nth-of-type(5),
.recommend2_container ul li:nth-of-type(6),
.recommend2_container ul li:nth-of-type(7),
.recommend2_container ul li:nth-of-type(8) {
  border-bottom: none;
}

.activetis {
  height: 35%;
  width: 100%;
  display: grid;
  background: rgb(246, 246, 246);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2),
    0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04),
    0 10px 20px -10px rgba(0, 0, 0, 0.04);
}
.recommend2 {
  height: 62%;
  width: 100%;
  background: rgb(246, 246, 246);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2),
    0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04),
    0 10px 20px -10px rgba(0, 0, 0, 0.04);

  margin-top: 17px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  color: #22538a;
}
.title span {
  cursor: pointer;
}
.titles {
  display: grid;
  padding: 10px 30px 10px 30px;
  grid-template: repeat(6, 1fr) / repeat(2, 1fr);
  height: 330px;
  /* outline: 1px solid red; */
  text-align: center;
  grid-gap: 10px 68px;
  align-items: stretch;
}
.titles li {
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #757575;
  box-shadow: 1px 1px 9px -2px;
}
.login_box_top {
  display: flex;
  justify-content: center;
}
.login_box_top img {
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
}
.user_login_box {
  flex: 1;
  padding: 10px;
  /* display: none; */
}
.user_login_box h2 {
  font-size: 20px;
  color: #22538a;
}
.user_login_box span {
  display: inline-block;
  width: 100px;
  height: 40px;
  background: white;
  text-align: center;
  line-height: 40px;
  margin-top: 5px;
  box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2),
    0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04),
    0 10px 20px -10px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin: 5px 12px 0 0;
  cursor: pointer;
}
.user_islogin {
  display: none;
  flex: 1;
  padding: 11px 0;
}
.user_islogin span {
  width: 30%;
  display: inline-block;
  height: 40px;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #757575;
  box-shadow: 1px 1px 9px -2px;
  margin: 12px 0;
  cursor: pointer;
}
.login_box_bottom ul {
  display: flex;
  justify-content: space-between;
  margin: 0 26px;
}
.login_box_bottom ul li i {
  font-size: 25px;
  color: #757575;
}

.activetis {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.activetis img {
  width: 88%;
  height: 83px;
  padding: 10px;
}
h2 {
  font-size: 20px;
  color: #22538a;
}
.remommend2_top {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.icon-gengxin.icon-gengxin.icon-gengxin {
  font-size: 26px;
}
.recommend2_container {
  width: 100%;
  height: 326px;
  padding: 10px 30px;
  box-sizing: border-box;
  /* outline: 1px solid; */
}
.recommend2_container ul {
  display: grid;
  grid-gap: 1px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  width: 100%;
  height: 100%;
  background: gray;
}
.recommend2_container ul li {
  min-width: 25%;
  min-height: 50%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px #b1b1b1 solid;
  border-bottom: 1px #b1b1b1 solid;
  padding: 0 10px;
}
.book_name {
  font-size: 18px;
  padding: 10px 0;
  font-weight: 600;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book_container {
  width: 100%;
  color: #757575;
  font-size: 15px;
  text-indent: 2em;
  padding: 5px;
  height: 78px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /*设置p元素最大4行，父元素需填写宽度才明显*/
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

/*-------------------------------------------------------------------------轮播图-----------------------------------------*/
* {
  padding: 0;
  margin: 0;
}
.slider {
  position: relative;
  height: 360px;
  /* min-width: 1004px; */
  width: 100%;
  overflow: hidden;
}
.slider .slider-pointer {
  position: absolute;
  bottom: 10px;
  color: #fff;
  list-style: none;
  padding: 0;
  z-index: 999;
}
.slider .slider-pointer li {
  display: inline-block;
  margin: 0 15px;
  width: 6px;
  height: 6px;
  border-radius: 15px;
  background-color: #ffffff;
  opacity: 0.85;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 320ms ease;
}
.slider .slider-pointer li:hover {
  background-color: #e30006;
}
.slider .slider-pointer li.active {
  background-color: #b00005;
}
.slider .slider-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider .slider-inner .item {
  width: 100%;
  height: 100%;
  float: left;
}
.slider .slider-inner .img {
  background-position: center top !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.slider .slider-control {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 999;
  border-radius: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  top: 40%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 320ms ease;
}
.slider .slider-control:hover {
  opacity: 0.65;
  background-color: #b00005;
}
.slider .slider-control:active {
  opacity: 0.85;
}
.slider .slider-control.prev {
  display: none;
  left: 20px;
}
.slider .slider-control.next {
  display: none;
  right: 20px;
}
.slider:hover .slider-control.prev {
  display: block;
  left: 20px;
}
.slider:hover .slider-control.next {
  display: block;
  right: 20px;
}
.myallter {
  top: 30px !important;
  width: 200px !important;  
  background-color: rgba(173, 255, 47, 0.68) !important;
  color: white;
}
.active{
    background-color: #22538a;
}
