body{
	background-image: url(../assets/images/bg.jpg);
	background-repeat: repeat;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.front{
	border-radius: 35px;
	width: 370px;
	height: 381px;
	background-color:#f6f6f6;
	left: 0; 
    right: 0; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 11%;
	position: absolute;
	backface-visibility: hidden;
	transition: 2s;
	box-shadow: 0 9px 30px -6px rgba(0,0,0,.2),
	0 18px 20px -10px rgba(0,0,0,.04),
	0 18px 20px -10px rgba(0,0,0,.04),
	0 10px 20px -10px rgba(0,0,0,.04)
	;
}
.inputIcon{
	float: left;
	width: 52px;
	color: #7f7f7f;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-right: 1px #bababa solid;
    box-shadow: black;
    box-shadow: 1px 0 3px -1px rgba(0,0,0,.1);
}
.back{
	border-radius: 35px;
	width: 370px;
	height: 381px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	background-color: #f6f6f6;
	margin-top: 13%;
	position: absolute;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
	transition: 2s;
	box-shadow: 0 9px 30px -6px rgba(0,0,0,.2),
	0 18px 20px -10px rgba(0,0,0,.04),
	0 18px 20px -10px rgba(0,0,0,.04),
	0 10px 20px -10px rgba(0,0,0,.04)
	;
	overflow: hidden;
}
.login{
	padding: center;
	text-align: center;
	position: relative;
	perspective: 800px;
	z-index: 999;
}
.LOGO{
	height: 100px;
}
.LOGO img{
	height: 140%;
}
.title{
	font-weight: 540;
    font-size: 18px;
    color: #3B3B3B;
    padding-top: 15px;
}
.square{
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	width: 234px;
	height: 50px;
	border: #CCCCCC 1px solid;
	border-radius: 14px;
    box-shadow: gainsboro 0px 0px 5px;
}
input{
    outline: none;
}
.square input{
    width: 177px;
    height: 47px;
    border: none;
    text-indent: 2em;
    border-radius: 14px;
	float: left;
	padding:0
}

.bottom{
	height: 60px;
	width: 234px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	line-height: 60px;
}
#logintext{
	transition: 2s;
}
#btmBtn{
	display: none;
}
.left{
	float: left;
}
.right{
	cursor: pointer;
	float: right;
	color: #22538A;
}
.close{
	position: absolute;
    right: 24px;
    top: 23px;
    /* font-size: 29px; */
	color: #848484;
	cursor: pointer;
}
.iconfont{
	font-size: 20px;
}
.note{
	color: #949494;
	display: block;
	text-align: center;
	margin-top: 6px;
	font-size: 13px;
}
.button{
	height: 55px;
	margin-top: 50px;
	text-align: center;
}
.loginbutton{
	outline: none;
	background: linear-gradient(to top right,#357ac9,#22538A);
	height: 45px;
	width: 135px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
	line-height: 45px;
	color: white;
    font-size: 23px;
	border: none;
	cursor: pointer;
}
.down{
	position: relative;
	top: 588px;
}
input{
	background-color: #f6f6f6;
}
.profilePic{
	position: absolute;
	width: 80px;
    height: 80px;
    margin-left: 145px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    background-color: white;
	box-shadow: 0px 0px 32px -17px;
	cursor: pointer;
	overflow: hidden;
}
.profilePic img{
	display: none;
	width: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.profilePic input{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.back p{
	font-weight: 500;
    font-size: 18px;
    color: #3B3B3B;
	padding-top: 20px;
	padding-bottom: 21px;
    margin-bottom: 10px;
}
/* .login:hover .front{
	transform: rotateY(180deg);
}
.login:hover .back{
	transform: rotateY(0deg);
} */