body {
    background-color: #F2F1EB;
}

.read_box {
    width: 90%;
    position: relative;
    left: 5%;
    top: 100px;
    color: #635752;
    font-family: 黑体;
}

.book_content {
    position: relative;
    left: 8%;
    width: 80%;
    background-color: #FBFFED;
    border: 1px solid #635752;
    padding: 5%;
    box-sizing: border-box;
    z-index: -1;
}

.book_content p {
    font-size: 22px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.book_tittle {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 1000;
}

.book_reader_content {
    width: 100%;
    height: 100%;
}

.book_navigation {
    position: static;
    text-align: center;
    font-size: 20px;
    width: 6%;
    background-color: #FBFFED;
    border: 1px solid #635752;
    position: sticky;
    top: 0px;
    float: right;
    margin-right: 5%;
}

.book_navigation li {
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}

.book_navigation li:hover {
    color: gold;
}

.mune {
    position: absolute;
    top: -1px;
    font-size: 16px;
    background-color: #FBFFED;
    border: 1px solid #635752;
}

.mune li {
    white-space: nowrap;
}

.nume_span1{
    position: relative;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: 1000;
    box-sizing: border-box;
    padding: 5px;
}

.mune div{
    position: relative;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mune p {
    margin-bottom: -10px;
    height: 30px;
    font-size: 18px;
    font-weight: 1000;
    position: sticky;
    top: 0;
    font-style: normal;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #635752;
}

.now_chapter{
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: 5px;
    white-space: nowrap;
}

.setting {
    position: absolute;
    top: -1px;
    overflow-y: auto;
    font-size: 14px;
    background-color: #FBFFED;
    border: 1px solid #635752;
}

.setting span {
    cursor: pointer;
}

.setting button {
    width: 30%;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 0;
    color: white;
    background-color: tomato;
}

.setting p {
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    font-weight: 1000;
}

.setting div {
    position: relative;
    margin: 10px;
    display: flex;
}

.setting div span {
    display: flex;
    align-items: center;
}

.setting div div i {
    font-style: normal;
    position: relative;
    left: 0 !important;
}

.setting div:nth-of-type(1) span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #635752;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting div:nth-of-type(1) span i {
    color: red;
}

.setting div:nth-of-type(1) span:nth-of-type(1) {
    background-color: #FBFFED;
    border: 1px solid red;
}

.setting div:nth-of-type(1) span:nth-of-type(2) {
    background-color: #f6edd4;
}

.setting div:nth-of-type(1) span:nth-of-type(3) {
    background-color: #ebf4e9;
}

.setting div:nth-of-type(1) span:nth-of-type(4) {
    background-color: #e9f3f5;
}

.setting div:nth-of-type(1) span:nth-of-type(5) {
    background-color: #f6e8e7;
}

.setting div:nth-of-type(1) span:nth-of-type(1) i {
    display: block;
}

.setting div:nth-of-type(1) span:nth-of-type(2) i {
    display: none;
}

.setting div:nth-of-type(1) span:nth-of-type(3) i {
    display: none;
}

.setting div:nth-of-type(1) span:nth-of-type(4) i {
    display: none;
}

.setting div:nth-of-type(1) span:nth-of-type(5) i {
    display: none;
}

.setting div:nth-of-type(2) div:nth-of-type(2), .setting div:nth-of-type(3) div:nth-of-type(2) {
    flex-grow: 1;
    justify-content: space-around;
}

.setting div:nth-of-type(2) div:nth-of-type(2) span:nth-of-type(1) {
    color: red;
}

.setting div:nth-of-type(2) div:nth-of-type(2) span:nth-of-type(2) {
    font-family: 宋体;
}

.setting div:nth-of-type(2) div:nth-of-type(2) span:nth-of-type(3) {
    font-family: 楷书;
}

.setting div:nth-of-type(3) div:nth-of-type(2) span:nth-of-type(2) {
    cursor: auto;
}

.color {
    color: red;
}

.hide {
    display: none;
}