body{
    background-color:#F2F1EB;
}

.read_box{
    width: 90%;
    position: relative;
    left: 5%;
    top: 100px;
    color:#635752;
    font-family: 黑体;
}

.book_content{
    position: relative;
    left: 8%;
    width: 80%;
    background-color: #FBFFED;
    border: 1px solid #635752;
    padding: 5%;
    box-sizing: border-box;
    z-index: -1;
}

.book_content p{
    font-size: 22px;
    margin-bottom: 10px;
    white-space:pre-wrap;
}

.book_tittle{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 1000;
}

.book_reader_content{
    width: 100%;
    height: 100%;
}

.book_navigation{
    position: static;
    text-align: center;
    font-size: 20px;
    width: 6%;
    background-color: #FBFFED;
    border: 1px solid #635752;
    position: sticky;
    top: 0px;
    float: right;
    margin-right: 5%;
}

.book_navigation li{
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}

.book_navigation li:hover{
    color: red;
}

.mune{
    position: absolute;
    top: -1px;
    overflow-y:auto;
    font-size: 16px;
    background-color: #FBFFED;
    border: 1px solid #635752;
    
}

.mune li{
	white-space:nowrap;
    
}

.hide{
    display: none;
}